<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список авторов</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/script/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/script/menu.js"></script>
    <script type="text/javascript" src="../static/script/lists.js"></script>
</head>
<body>
    <div id="menu-placeholder"></div>
    <br/>
    <h3>Список авторов</h3>
    <button type="button" class="btn btn-light btn-create">
        <a href="genreEdit.html" th:href="@{/authors/edit}">
            <img src="../static/icons/btn-add.png" alt="" style="margin-left: 4px; margin-right: 4px;"/>
            добавить
        </a>
    </button>

    <table class="list" style="width: 100%;">
        <thead>
            <tr>
                <th style="width:15%;">ID</th>
                <th>ФИО автора</th>
                <th style="width:12%; text-align: center">Год рождения</th>
                <th style="width:18%; text-align: center">Действия</th>
            </tr>
        </thead>
        <tbody id="authors-tbody">
        </tbody>
    </table>


    <script>
        $.get('/api/v1/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('#authors-tbody').append(`
        <tr id="tr-${author.id}">
            <td>${author.id}</td>
            <td>${author.fullName}</td>
            <td style="text-align: center;">${author.birthYear}</td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-light btn-grid-action">
                    <a href="/authors/edit?id=${author.id}" title="Редактировать">
                        <img src="../static/icons/edit.png" alt=""/></a>
                </button>
                <button type="button" class="btn btn-light btn-grid-action">
                    <a data-row-id="${author.id}" href="/api/v1/authors/${author.id}" title="Удалить"
                       onclick="deleteWithConfirm(this); return false;">
                        <img src="../static/icons/delete.png" alt=""/>
                    </a>
                </button>
                <div id="errorPanel-${author.id}" role="alert" class="alert alert-danger alert-dismissible fade show error-dialog"
                style="display: none">
                    Есть книги данного автора, удаление невозможно
                    <button type="button" class="btn-close btn-close-padding" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </td>
        </tr>
                `)
            });
        })
    </script>

</body>
</html>
