<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>
    <link rel="stylesheet" href="../static/css/style.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">-->
<!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>-->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="../static/script/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/script/menu.js"></script>
</head>
<body>

    <div id="menu-placeholder"></div>

    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
            <h1>Библиотека</h1>
            <p class="lead">Это тестовое приложение на Java. Стек технологий: MongoDB, REST API, Bootstrap, CSS, jQuery, JavaScript.<br/>
                Приятного чтения!
            </p>
            <a class="btn btn-lg btn-primary" href="../components/navbar/" th:href="@{/books}" role="button">Выбрать книжку &raquo;</a>
        </div>
    </main>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Осторожно! Интересные книжки вызывают привыкание!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</body>
</html>