<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комментарии к книге</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="../static/script/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/script/menu.js"></script>
    <script type="text/javascript" src="../static/script/lists.js"></script>
    <script type="text/javascript" src="../static/script/comments.js"></script>
</head>
<body>
    <div id="menu-placeholder"></div>
    <br/>
    <h3 style="margin-bottom: 10px;">Отзывы</h3>
    <h5><b><i>
            <label style="width: 100%; margin-bottom: 10px; color: #5c636a"
                th:text="${book.author.fullName + '&nbsp;&quot;' + book.title + '&quot;'}">Ф. Купер &quot;Зверобой&quot;</label>
        </i></b>
    </h5>

    <table class="list" style="width: 100%; margin-bottom: 20px;">
        <thead>
            <tr>
                <th style="width:15%;">ID</th>
                <th>Текст отзыва</th>
                <th style="width: 160px; text-align: center;">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.id}">65a038d92c5dd67b621b4681</td>
                <td th:id="${'td-comment-text-' + comment.id}" th:text="${comment.commentText}">Читается легко, букофф многа. Приятная обложка</td>
                <td style="text-align: center;">
                    <table style="width:100%; border: none !important; padding: 0;">
                        <tr>
                            <td style="text-align: right; border: none !important; padding: 0;">
                                <button type="button" class="btn btn-light btn-grid-action">
                                    <a th:data-row-id="${comment.id}" th:href="@{/books/comments/edit(commentId=${comment.id})}"
                                        onclick="editComment(this); return false;" title="Редактировать">
                                        <img src="../static/icons/edit.png" alt=""/>
                                    </a>
                                </button>
                            </td>
                            <td style="text-align: left; border: none !important; padding: 0;">
                                <form action="genresList.html" th:method="post" title="Удалить"
                                      th:action="@{/books/comments/delete(commentId=${comment.id},bookId=${book.id})}">
                                    <button type="submit" class="btn btn-light btn-grid-action">
                                        <img src="../static/icons/delete.png" alt=""/>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <form id="edit-form" action="genreEdit.html" th:method="post" th:action="@{/books/comments(bookId=${book.id})}" th:object="${commentDto}">
        <table style="width: 50%;">
            <tr><td style="padding-bottom: 5px; color: #5c636a"><b><i id="save-comment-label">Добавьте новый отзыв:</i></b></td></tr>
            <tr><td>
                    <textarea id="textarea-comment-text" name="commentText" rows="4" class="form-control"></textarea>
                    <label class="errors" th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}" style="width: 100%;">
                        Поле обязательно для заполнения
                    </label>
                </td>
            </tr>
            <tr><td style="text-align: right; width: 50%;">
                    <button type="submit" id="btn-save" th:data-book-id="${book.id}" class="btn btn-light btn-create" style="margin-top: 5px;">
                            <img src="../static/icons/save.png" alt="" style="margin-left: 4px;"/>
                            <label style="color: #0d6efd"><b>Сохранить</b></label></a>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>